@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/*----- variables*/
:root
{
    --green-color:#7ACC2D;
    --white-color:white;
    --black-color:#313337;
    /* tipografia*/
    --normal:12px;
    /*espaciado*/
    --space:10px;
    /*Box shadow*/
    --box: 0px 0 2px 1px #e6e5e9;
}


/*----- variables*/

html,body
{
    padding: 0%;
    margin: 0%;
    font-size: var(--normal);
    font-family: Helvetica;
}

nav
{
    display: flex;
    background-color: var(--green-color);
    padding: var(--space);
    color: var(--white-color);
    justify-content: space-between;
    align-items: center;
}

nav ul
{
    display: flex;
}

nav li
{
    padding-left: 20px;
    list-style: none;
}

nav li a
{
    color: var(--black-color);
    text-decoration: none;
}

nav li a:hover
{
    color: var(--white-color)
}


.main_section
{
    padding: 15%;
    text-align: center;
}

.product a
{
    color: var(--white-color);
    text-decoration: none;
}

.products
{
    background-image: url("../images/curve.png");
    height: 50px;
    background-size: cover;
    background-position: center top;
    padding: 20%;
    display: flex;
}

.product
{
    padding: var(--space);
    margin-top: -240px;
}

.product .content
{
    background-color: var(--white-color);
    padding: 15px;
    box-shadow:var(--box);
}

.image_content
{
    text-align: center;
}

.main_button
{
    background-color:var(--green-color);
    width: 100%;
    padding: var(--space);
    font-size: var(--normal);
    color:var(--white-color);
    border: 0;
    cursor: pointer;
    border-radius: 2px;
}

.main_button:hover
{
    background-color: #5e9e22;
}

/*nueva seccion 2*/
.beneficios
{
    padding: 10%;
    display: flex;
}
.beneficio
{
    text-align: center;
    padding: 20px;
}

.beneficio img
{
    max-height: 100px;
}
img
{
    border-style: none;
}

.text_beneficio 
{
    text-align: justify;

}

p
{
    font-size: var(--normal);
}

/*nueva seccion 3*/
.mentions
{
    display: flex;
    padding: 5%;
}
.mention
{
    padding: var(--space);
}
h2.mention_title
{
    text-align: center;
}

.content_mention
{
    box-shadow: 0px 0 2px 1px #e6e5e9;
    float: left;
}
.mention img
{
    width: 100%;
}

.mention .text
{
    padding: var(--space);
}

/* venta */

.container
{
    padding: 10%;
}
.modulo_pago
{
    background-color: var(--white-color);
    box-shadow: var(--box);
    padding: var(--space);
}

.modulo_pago_images
{
    max-width: 150px;
    text-align: center;
    margin: auto;
}

.data
{
    margin-bottom: var(--space);
    width: 100%;
    height: 35px;
    border-radius: 2px;
    border: 1px solid var(--black-color);
    box-sizing: border-box;
}

.modulo_pago .main_button
{
    margin-top: 10px;
}

/* FAQS */
.faqs
{
    height: 100%;
    padding: 10%;
    font-size: 30px;
    font-family: Helvatica;
}

.content_faqs li
{
    color:var(--black-color);
    list-style: none;
    text-align: justify;
}

/* condiciones */

.condiciones
{
    height: 100%;
    padding: 10%;
    font-size: 30px;
    font-family: Helvatica;
}


/* footer */
footer {
    display: flex;
    justify-content: space-between;
    font-size: var(--normal);
    background-color: var(--black-color);
    padding: var(--space);
    color: var(--white-color);
}

.option a
{
    color: var(--green-color);
}

.contact a
{
    color: var(--green-color);
}
