body
{
    background-color: var(--black-color);
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content_paypal a
{
    color: green;
}